{% extends 'base_admin.html' %}
{% block title %}
email
{% endblock %}
{% block div %}
    <h1 align="center">Все комментарии</h1>
    <br>
{% if comments|length>0 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">number</th>
                <th scope="col">Name User</th>
                <th scope="col">Post Title</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        {% for comment in comments %}
        <tbody>
            <tr>
                <th scope="row">{{comment.id}}</th>
                <td>{{comment.name_user}}</td>
                <td>{{comment.post_title}}</td>
                <td>{{comment.text}}</td>
                <td>{{comment.date.date()}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% else %}
    <p>У вас нет комментариев</p>
    {% endif %}
{%endblock%}