{% extends 'base.html' %}
{% block title %}
Music
{% endblock %}
{% block div %}
{% if articles|length>0 %}
    {% for el in articles %}
    <div class="col-md-6">
        <div class="card">
            <a href="/posts/{{ el.id }}"><img src="static/img/{{el.name_img}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h3 class="post-category">{{el.post_category}}</h3>
            <h5 class="post-title">{{el.post_title}}</h5>
            <p class="card-text">{{el.card_text}}</p>

            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>У нас еще нет статей на сайте</p>
    {% endif %}
{%endblock%}